<div class="body">

    <div class="container p-2 div-on mostrar">
        <div class="row">
            <div class="col-md-6">
                <!-- <img src="../../../../assets/logo.jpeg" alt="logo"> -->
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <a class="bold-font sz-10 cp" (click)="navigateTo('jobs')">TRABALHOS</a>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <a class="bold-font sz-10 cp" (click)="navigateTo('group')">TIME</a>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <a class="bold-font sz-10 cp" (click)="navigateTo('services')">SERVIÇOS</a>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <a class="bold-font sz-10 cp" (click)="navigateTo('about')">SOBRE</a>
            </div>
            <div class="col-md-1 d-flex justify-content-center">
                <a class="bold-font sz-10 cp" (click)="navigateTo('contact')">CONTATO</a>
            </div>
        </div>
    </div>

    <div id="demo" class="carousel slide div-down mostrar" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../../assets/dark-bg.jpg" class="size-slide" alt="tema1">
                <div class="carousel-caption">
                    <h3>Bianca Myrella Design</h3>
                    <p>Seu sonho virando arte!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../../assets/dark-bg-2.jpg" class="size-slide" alt="tema2">
                <div class="carousel-caption">
                    <h3>Bianca Myrella Design</h3>
                    <p>Seu sonho virando arte!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../../assets/dark-bg-3.jpg" class="size-slide" alt="tema3">
                <div class="carousel-caption">
                    <h3>Bianca Myrella Design</h3>
                    <p>Seu sonho virando arte!</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>


    <div class="container p-5 mostrar">
        <h2 class="bold-font d-flex justify-content-center" #jobs>Trabalhos</h2>
        <br>
        <div class="row">
            <div class="col-md-6 d-flex zoom justify-content-end">
                <img src="../../../../assets/trabalho-6.jpeg" class="default-img" alt="">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-1.jpeg" class="job-img" alt="">
                    </div>
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-2.jpeg" class="job-img" alt="">
                    </div>
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-5.jpeg" class="job-img" alt="">
                    </div>
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-4.jpeg" class="job-img" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-1.jpeg" class="job-img" alt="">
                    </div>
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-2.jpeg" class="job-img" alt="">
                    </div>
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-5.jpeg" class="job-img" alt="">
                    </div>
                    <div class="col-md-6 zoom small-img">
                        <img src="../../../../assets/trabalho-4.jpeg" class="job-img" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex zoom justify-content-end">
                <img src="../../../../assets/trabalho-6.jpeg" class="default-img" alt="">
            </div>
        </div>
    </div>

    <div class="container p-2 mostrar">
        <h2 class="bold-font d-flex justify-content-center" #group>Nosso Time</h2>

        <div class="row d-flex justify-content-center">
            <div class="col-md-5 pt-3">
                <div class="d-flex justify-content-center">
                    <img src="../../../../assets/time.png" style="width: 125px;" class="rounded-circle" alt="">
                </div>
                <br>
                <h6 class="d-flex justify-content-center">Bianca Myrella Silva Ferreira Gonçalves</h6>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, expedita at sed quis possimus ipsa
                    libero excepturi repellat cumque? Quas veritatis facilis ab, libero quia mollitia itaque delectus
                    sint dignissimos.</p>
            </div>
        </div>
    </div>

    <div class="container p-2 div-on mostrar" >
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h3 class="bold-font" #services>Nossos Serviços</h3>
            </div>
        </div>
    </div>

    <div id="demo-1" class="carousel slide div-down mostrar" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo-1" data-slide-to="0" class="active"></li>
            <li data-target="#demo-1" data-slide-to="1"></li>
            <li data-target="#demo-1" data-slide-to="2"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../../assets/servico-1.jpg" class="size-slide" alt="tema1">
                <div class="carousel-caption">
                    <h3>Bianca Myrella Design</h3>
                    <p>Seu sonho virando arte!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../../assets/servico-2.jpeg" class="size-slide" alt="tema2">
                <div class="carousel-caption">
                    <h3>Bianca Myrella Design</h3>
                    <p>Seu sonho virando arte!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../../assets/servico-3.png" class="size-slide" alt="tema3">
                <div class="carousel-caption">
                    <h3>Bianca Myrella Design</h3>
                    <p>Seu sonho virando arte!</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#demo-1" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo-1" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <div class="container p-5 mostrar" #about>

        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <img src="../../../../assets/time.png" class="default-img" alt="">
            </div>
            <div class="col-md-6 p-3">
                <h2 class="bold-font d-flex justify-content-center">Minha História</h2>
                <br>
                <p class="d-flex justify-content-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Explicabo, facere! Id voluptatibus repellendus itaque rerum maxime natus culpa molestias magnam, a
                    cupiditate commodi eligendi numquam, consectetur beatae quos neque amet architecto. Adipisci
                    laboriosam et ullam tempore aperiam est dolor laudantium, dicta beatae quae perferendis accusamus
                    quasi labore quaerat sit dolores ut atque impedit, eum error expedita voluptatum.</p>
            </div>
        </div>
    </div>

    <div class="footer-color p-2">
        <div class="row">
            <div class="col-md-4">
                <p class="bold-font sz-10 cp" (click)="navigateTo('jobs')">TRABALHOS</p>
                <br>
                <p class="bold-font sz-10 cp" (click)="navigateTo('group')">TIME</p>
                <br>
                <p class="bold-font sz-10 cp" (click)="navigateTo('services')">SERVIÇOS</p>
                <br>
                <p class="bold-font sz-10 cp" (click)="navigateTo('about')">SOBRE</p>
                <br>
                <p class="bold-font sz-10 cp d-flex align-items-center" (click)="navigateTo('contact')">CONTATO</p>
            </div>
            <div class="col-md-4">
                <h3 class="bold-font d-flex justify-content-start">Redes Sociais Oficiais</h3>
                <br>
                <p class="bold-font sz-10 cp"><a target="_blank"
                        href="https://www.facebook.com/biancamyrelladesign-101237858244980/" class="fa fa-facebook"></a>
                    FACEBOOK</p>
                <br>
                <br>
                <p class="bold-font sz-10 cp"><a target="_blank" href="https://www.instagram.com/biancamyrelladesgn/"
                        class="fa fa-instagram"></a> INSTAGRAM</p>
            </div>
            <div class="col-md-4">
                <h3 class="bold-font d-flex justify-content-start" #contact>Informações de Contato</h3>
                <br>
                <p class="d-flex justify-content-start">Rua das Palmas Nº169 Malvinas, CG/PB.</p>
                <p class="d-flex justify-content-start">Tel. 839 8888-8888</p>
                <p class="d-flex justify-content-start">Email. biancamyrella9@gmail.com</p>
            </div>
        </div>
    </div>

</div>